worker_processes  1;
events {
    worker_connections  1024;
}

http {
    include       mime.types;

    resolver 127.0.0.11; # Docker embedded DNS

    sendfile        on;
    keepalive_timeout  60;

    lua_shared_dict config 10m;
    init_by_lua_file lua/init.lua;

    server {
        listen       80;
        server_name  localhost;

        lua_ssl_trusted_certificate /etc/ssl/certs/ca-certificates.crt;
        lua_ssl_verify_depth 5;

        set_by_lua_block $backend {
            local config = ngx.shared.config
            return config:get("BACKEND")
        }

        location / {
            lua_code_cache off;

            access_by_lua_file lua/req_recorder.lua;
            proxy_pass http://$backend;
            body_filter_by_lua_file lua/res_recorder.lua;
        }

        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }
    }
}
